<!-- templates/index.html -->

{% extends "_base.html" %}
{% load static %}


{% block content %}

<div class="grid grid-cols-1 md:grid-cols-2 min-h-screen">
  <div class="bg-white text-black flex-col justify-center items-start hidden md:flex">
    <h2 class="italic text-2xl md:text-3xl px-10 w-1/2">Calculate smarter, spend wiser ...</h2>

    <img class="min-w-full" src="{% static 'assets/home-illustrator.svg'  %}" alt="">

  </div>
  <!-- form -->
  <div class="text-center p-10 flex flex-col ">

    <h2 class="text-3xl font-bold text-white uppercase my-5">Monthly <span class="text-accent">Budget</span></h2>

    <form action="" method="post" class="mt-3">
      {% csrf_token %}
      {% for field in form %}
      <div class="my-[5rem] relative group z-0 w-full">

        {{field}}
        <label for=""
          class="absolute text-3xl text-white duration-500 transform -translate-y-8 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto peer-focus:text-button peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-8 uppercase">{{field.label}}</label>
      </div>
      {% endfor %}

      <button type="submit" class="bg-button text-black p-3 rounded w-full mt-3 capitalize">Start your calculation</button>
    </form>



    <!-- <form class="max-w-md mx-auto">
      <div class="relative z-0 w-full mb-5 group">
        <input type="email" name="floating_email" id="floating_email"
          class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer"
          placeholder=" " required />
        <label for="floating_email"
          class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto peer-focus:text-button peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Email
          address</label>
      </div>
  </form> -->

</div>
</div>

{% endblock content %}